<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.com" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <title>Dashboard - HAB-ETL</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link th:replace="layout/admin-head">
</head>

<body>
  <header id="header" th:replace="layout/header"></header>
  <aside id="sidebar" th:replace="layout/sidebar"></aside>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Connections</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/user">Home</a></li>
          <li class="breadcrumb-item">Connections</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title col-lg-6 p-4">Connections Table</h5>
                <div class="col-lg-6 p-4">
                  <a href="/user/connection/create">
                    <button type="button" class="btn btn-primary float-end" ><i class="bi bi-plus me-1"></i> Connection</button>
                  </a>
                </div>
              </div>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Source</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Last Sync</th>
                  <th scope="col">Enabled</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="connection:${connections}">
                  <th th:text="${connection.id}" scope="row">1</th>
                  <td th:text="${connection.name}">Brandon Jacob</td>
                  <td th:text="${connection.source.name}">Designer</td>
                  <td th:text="${connection.destination.name}">28</td>
                  <td th:text="${connection.lastSync}">28</td>
                  <td th:text="${connection.enabled}">28</td>
                  <td><a th:href="@{'/user/connection/'+${connection.id}}" class="btn btn-sm">Show</a></td>
                </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" th:replace="layout/footer"></footer>

</body>

</html>