<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.com" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <title>Dashboard - HAB-ETL</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link th:replace="layout/admin-head">
</head>

<body>
<header id="header" th:replace="layout/header"></header>
<aside id="sidebar" th:replace="layout/sidebar"></aside>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Connection Detail</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/user">Home</a></li>
        <li class="breadcrumb-item"><a href="/user/connection">Connections</a></li>
        <li class="breadcrumb-item" th:text="${connection.name}" >Name of the Connection</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">

            <div class="row">
              <h5 class="card-title  col-lg-6 p-4" th:text="${connection.name}">Connection name</h5>
              <div class="col-lg-6 p-4">
                <a th:href="@{'/user/connection/'+${connection.id}+'/sync'}">
                  <button type="button" class="btn btn-primary float-end" ><i class="bi bi-arrow-repeat me-1"></i> Sync</button>
                </a>
              </div>
            </div>
            <code th:text="${error}"></code>
            <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1"></i>
              <span th:text="${message}"></span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Table</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-history" data-bs-toggle="tab" data-bs-target="#bordered-history" type="button" role="tab" aria-controls="history" aria-selected="false">Job History</button>
              </li>
            </ul>
            <div class="tab-content pt-2" id="borderedTabContent">
              <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                <!--   new stream creating form  -->
                <form th:action="@{'/user/connection/'+${connection.id}+'/stream'}" method="post">
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <div class="col-form-label">Create new table</div>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <div class="row mb-3 col-6">
                            <div class="col-sm-10">
                              <div class="form-floating mb-3">
                                <input name="name" type="text" class="form-control" id="floatingInput" placeholder="name of the stream">
                                <input type="hidden" name="connection" th:value="${connection.id}">
                                <label for="floatingInput">Table name</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input name="targetName" type="text" class="form-control" id="floatingTargetName" placeholder="users">
                                <label for="floatingTargetName">Target table name</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input name="resourceURI" type="text" class="form-control" id="floatingResourceURI" placeholder="/users">
                                <label for="floatingResourceURI">Resource URI</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input name="resultPath" type="text" class="form-control" id="floatingResultPath" placeholder="result.users">
                                <label for="floatingResultPath">Result Path</label>
                              </div>
                              <div class="text-left">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <code th:text="${result}"></code>
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>URI</th>
                      <th>Result Path</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stream:${connection.streams}">
                      <td><a th:text="${stream.id}" th:href="@{'/user/connection/'+${connection.id}+'/stream/'+${stream.id}}" ></a></td>
                      <td><a th:text="${stream.name}" th:href="@{'/user/connection/'+${connection.id}+'/stream/'+${stream.id}}" ></a> </td>
                      <td><a th:text="${stream.getURL()}" th:href="@{'/user/connection/'+${connection.id}+'/stream/'+${stream.id}}"></a></td>
                      <td><a th:text="${stream.resultPath}" th:href="@{'/user/connection/'+${connection.id}+'/stream/'+${stream.id}}"></a></td>
                      <td>
                        <a th:href="@{'/user/connection/'+${connection.id}+'/stream/'+${stream.id}+'/delete'}" class="btn btn-sm"><i class="bi bi-trash"></i></a></td>
                    </tr>

                    </a>
                    </tbody>

                  </table>

                </form>

              </div>
              <div class="tab-pane fade" id="bordered-history" role="tabpanel" aria-labelledby="profile-history">

                <table class="table datatable">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Run At</th>
                    <th scope="col">Log Message</th>
                    <th scope="col">Is Completed Successfully</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="history:${connection.getJobHistorylist()}">
                    <td th:text="${history.id}"></td>
                    <td th:text="${history.run_at}"></td>
                    <td th:text="${history.log}"></td>
                    <td th:text="${history.isSuccessfullyCompleted}"></td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div><!-- End Bordered Tabs -->
          </div>




        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" th:replace="layout/footer"></footer>

</body>

</html>