<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.com" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <title>Dashboard - HAB-ETL</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link th:replace="layout/admin-head">
</head>

<body>
  <header id="header" th:replace="layout/header"></header>
  <aside id="sidebar" th:replace="layout/sidebar"></aside>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <iframe
                        src="http://localhost:3000/public/dashboard/333d120b-9846-4af9-8652-82d016ab2ab8"
                        frameborder="0"
                        width="auto"
                        height="1500"
                        allowtransparency
                ></iframe>
              </div>
          </div>
        </div><!-- End Left side columns -->


      </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" th:replace="layout/footer"></footer>

</body>

</html>